name: manual triggered workflow to test Cake

on:
    workflow_dispatch: 
      inputs:
        example_input:
          description: 'An example input'
          required: false
          default: 'default value'
jobs:
  build:
    name: Manual Build Test
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        
        - name: Setup .NET 10
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: '10.0.x' # Specify the desired .NET 10 version