name: SonarQube Analyze

on:
  push:
    branches:
      - master
    
jobs:
  build:
    name: Manual Build Test
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        
        - name: Setup .NET 10
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: '10.0.x' # Specify the desired .NET 10 version
        
        - name: Setup .NET Tools
          run: |
            dotnet tool install -g Cake.Tool 
            dotnet tool install -g dotnet-sonarscanner
            dotnet tool install -g dotnet-coverage
            
        - name: Run Cake Build
          env:
            SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
            BUILD_VERSION: "1.0.${{ github.run_number }}"
          run: |
            ls -ls
            dotnet-cake --target=Analyze 
            